@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: #282d35 ;
    color: white;
}

header
{
    height: 90px;
    background-color: #21222A;
    padding: 30px 25px;
}

nav
{
    display: flex;
    align-items: center;
    height: 100%;
}

nav > img
{
    width: 40px;
    margin-right: 7px;
}

nav > span
{
    color: #61dafb;
    font-size: 1.4rem;
    font-weight: 700;
}

main
{
    padding: 60px 30px;
    background-image: url(/react-logo-half.png);
    background-repeat: no-repeat;
    background-position: right 70%;
}

main > h1
{
    margin: 0;
    font-size: 2.4rem;
}

.facts-list
{
    margin-top: 30px;
    max-width: 400px;
}

.facts-list > li
{
    padding-block: 10px;
    line-height: 19px;
    font-size: 1.1rem;
}

.facts-list > li::marker
{
    color: #61DBFB;
    font-size: 1.5rem;
}